<div id="wrapper">
    <!-- Sidebar -->
 <app-template></app-template>
 <!-- End of Sidebar -->
 
 <!-- Content Wrapper -->
 <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
   <div id="content">
       <!-- Topbar -->
 <app-navbar></app-navbar>
   <!-- End of Topbar -->
 <router-outlet></router-outlet>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div> -->


                <!-- la page -->
                <section class="container-fluid">
                   

                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group rounded">
                                <input type="search" class="form-control rounded" placeholder="Recherche par nom"
                                    aria-label="Search" aria-describedby="search-addon"
                                    (input)="getCandidatSearchName($event)" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group rounded">
                                <input type="search" class="form-control rounded" placeholder="Recherche par age"
                                    aria-label="Search" aria-describedby="search-addon"
                                    (input)="getCandidatSearchAge($event)" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group rounded">
                                <input type="search" class="form-control rounded" placeholder="Recherche par teint"
                                    aria-label="Search" aria-describedby="search-addon"
                                    (input)="getCandidatSearchTeint($event)" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group rounded">
                                <input type="search" class="form-control rounded" placeholder="Recherche par sexe"
                                    aria-label="Search" aria-describedby="search-addon"
                                    (input)="getCandidatSearchSexe($event)" />
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="d-flex justify-content-between">
                        <h4>Liste des Candidats ({{countAllCandiddat}})</h4>
                        <a routerLink="/candidat/formstep" class="btn btn-success">Ajouter un Candidat</a>

                    </div>

                    <br>
                    <table class="table align-middle mb-0 bg-white" id="msformt">
                        <thead class="bg-light">
                            <tr>
                                <th>No</th>
                                <th>Nom/ Email</th>
                                <th>Téléphone/ Adresse</th>
                                <th>Teint/ Poids</th>
                                <th>Age/ Profession</th>

                                <th width="220px">Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            <!-- <tr *ngFor="let candidat of candidats | filter:searchText"> -->
                            <!-- <tr *ngFor="let candidat of candidats; let result of data"> -->
                                <tr *ngFor="let candidat of candidats| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total } ; let result of data">

                                <th >{{ candidat.id }}</th>
                                
                                <td>
                                <!-- <img [src]="imageDirectoryPath+''+image[0].filename" width="100px">  -->

                                    <div class="d-flex align-items-center">
                                     <a [href]="firstImage(candidat)"><img
                                      [src]="firstImage(candidat)"
                                          alt=""
                                          style="width: 45px; height: 45px"
                                          class="rounded-circle"
                                          /></a>
                                      <div class="ms-3">
                                        <p class="fw-bold mb-1"> 
                                             <i *ngIf="!candidat.experience_cinema" class="fas fa-circle fa-sm" style="color: red"></i>  
                                             <i  *ngIf="candidat.experience_cinema" class="fas fa-circle fa-sm" style="color: green"></i>
                                           
                                            {{ candidat.prenom }} {{ candidat.nom }}</p>
                                        <p class="text-muted mb-0">
                                            {{ candidat.email_candidat }}
                                        </p>
                                      </div>
                                     
                                    </div>
                                  </td>
                                  <td>
                                    <p class="fw-normal mb-1">{{candidat.telephone_candidat}}</p>
                                    <p class="text-muted mb-0">{{ candidat.adresse_candidat }}</p>
                                  </td>
                                <!-- <td><a href="mailto:{{candidat.email}}">{{  candidat.email }}</a></td> -->
                                <td>
                                    <p class="fw-normal mb-1">{{ candidat.teint }}</p>
                                    <p class="text-muted mb-0">{{ candidat.poids }}kg</p>
                                  </td>
                                  <td>
                                    <p class="fw-normal mb-1">{{ candidat.age }}ans</p>
                                    <p class="text-muted mb-0">{{ candidat.profession }}</p>
                                  </td>
                               

                                <td>
                                    <a [routerLink]="['/candidat/', 'edit', candidat.id  ]"
                                       >           
                                    <i  class="fas fa-pen fa-1x text-red-300" ></i>  
                                    </a> &nbsp;
                                    <a href="#" [routerLink]="['/candidat/', candidat.id  ]"
                                        >
                                        <i  class="fas fa-eye fa-1x text-red-300" ></i> 
                                        </a>
                                    <!-- <a href="#"  [routerLink]="['/candidat/','casting', candidat.id  ]" class="btn btn-success">Selectionner</a> -->

                                    <!-- <button type="button" (click)="deletecandidat(candidat.id)" class="btn btn-danger">Supprimer</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

                </section>
            </div>
        </div>