<div id="wrapper">
    <!-- Sidebar -->
 <app-template></app-template>
 <!-- End of Sidebar -->
 
 <!-- Content Wrapper -->
 <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
   <div id="content">
       <!-- Topbar -->
 <app-navbar></app-navbar>
   <!-- End of Topbar -->
 <router-outlet></router-outlet>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- la page -->

                <section class="container">
                    <div class="d-flex justify-content-between">
                        <h3>Modifier le  Fournisseur </h3>
                        <a routerLink="/fournisseur/liste" class="btn btn-dark">Liste des Fournisseurs </a>

                        <hr />
                    </div>
                    <br>

                    <form [formGroup]="form" (ngSubmit)="submit()">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputZip">Nom</label>
                            <input type="text" class="form-control" id="name_fournisseur" required
                                formControlName="name_fournisseur" 
                               
                                [(ngModel)]="fournisseur.name_fournisseur">
                                <div *ngIf="f['name_fournisseur'].touched && f['name_fournisseur'].invalid" class="alert alert-danger">
                                    <div *ngIf="f['name_fournisseur'].errors && f['name_fournisseur'].errors['required']">date casting is required.</div>
                                </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputZip">Email</label>
                            <input type="email" class="form-control" 
                            id="email_fournisseur" required
                                formControlName="email_fournisseur" 
                                
                                [(ngModel)]="fournisseur.email_fournisseur">
                                <div *ngIf="f['email_fournisseur'].touched && f['email_fournisseur'].invalid" class="alert alert-danger">
                                    <div *ngIf="f['email_fournisseur'].errors && f['email_fournisseur'].errors['required']">nom is required.</div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputZip">Téléphone</label>
                            <input  type="text" class="form-control"
                             id="telephone_fournisseur" required
                                formControlName="telephone_fournisseur"
                                [(ngModel)]="fournisseur.telephone_fournisseur"
                                >
                         
                            <div *ngIf="f['telephone_fournisseur'].touched && f['telephone_fournisseur'].invalid" class="alert alert-danger">
                                <div *ngIf="f['telephone_fournisseur'].errors && f['telephone_fournisseur'].errors['required']">description casting is required.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputZip">Pays</label>
                            <input type="text" class="form-control"
                             id="pays" required
                                formControlName="pays"
                                [(ngModel)]="fournisseur.pays"
                                >
                           
                            <div *ngIf="f['pays'].touched && f['pays'].invalid" class="alert alert-danger">
                                <div *ngIf="f['pays'].errors && f['pays'].errors['required']">description casting is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputZip">Région</label>
                            <input type="text" class="form-control" id="region" required
                                formControlName="region" 
                               
                                [(ngModel)]="fournisseur.region">
                                <div *ngIf="f['region'].touched && f['region'].invalid" class="alert alert-danger">
                                    <div *ngIf="f['region'].errors && f['region'].errors['required']">date casting is required.</div>
                                </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputZip">Ville</label>
                            <input type="text" class="form-control" 
                            id="ville" required
                                formControlName="ville" 
                                
                                [(ngModel)]="fournisseur.ville">
                                <div *ngIf="f['ville'].touched && f['ville'].invalid" class="alert alert-danger">
                                    <div *ngIf="f['ville'].errors && f['ville'].errors['required']">nom is required.</div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputZip">Prestation</label>
                            <input  type="text" class="form-control"
                             id="prestation" required
                                formControlName="prestation"
                                [(ngModel)]="fournisseur.prestation"
                                >
                            <div *ngIf="f['prestation'].touched && f['prestation'].invalid" class="alert alert-danger">
                                <div *ngIf="f['prestation'].errors && f['prestation'].errors['required']">description casting is required.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputZip">Autre</label>
                            <input  type="text" class="form-control"
                             id="autre" required
                                formControlName="autre"
                                [(ngModel)]="fournisseur.autre"
                                >
                            
                            <div *ngIf="f['autre'].touched && f['autre'].invalid" class="alert alert-danger">
                                <div *ngIf="f['autre'].errors && f['autre'].errors['required']">description casting is required.</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Modifier</button>



                    </form>
                </section>
            </div>