<div id="wrapper">
   <!-- Sidebar -->
<app-template></app-template>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
   <!-- Main Content -->
  <div id="content">
      <!-- Topbar -->
<app-navbar></app-navbar>
  <!-- End of Topbar -->
<router-outlet></router-outlet>


      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div> -->
        <!-- la page -->
        <section>
          <div class="d-flex justify-content-between">
            <h4>Ajouter un Candidat</h4>
            <a routerLink="/candidat/liste" class="btn btn-success">Liste des Candidats </a>
          </div>
          <br>
          <form [formGroup]="form" (ngSubmit)="submit()" >
            <div class="row">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Nom</label>
                <input type="text" class="form-control" placeholder="nom" id="nom" 
                formControlName="nom" name="nom">
                <div *ngIf="f['nom'].touched && f['nom'].invalid" class="alert alert-danger">
                  <div *ngIf="f['nom'].errors && f['nom'].errors['']">Le nom  est obligatoire.</div>
              </div>
               
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4">Prénom</label>
                <input type="text" class="form-control" placeholder="prénom" id="prenom" 
                  formControlName="prenom" name="prenom"
                  >
                <div *ngIf="f['prenom'].touched && f['prenom'].invalid" class="alert alert-danger">
                  <div *ngIf="f['prenom'].errors && f['prenom'].errors['']">Le prenom  est obligatoire.</div>
              </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputEmail4">Téléphone</label>
                <input type="text" class="form-control" placeholder="telephone" id="telephone_candidat"
                  formControlName="telephone_candidat" name="telephone_candidat"
                  >
                  <div *ngIf="f['telephone_candidat'].touched && f['telephone_candidat'].invalid" class="alert alert-danger">
                    <div *ngIf="f['telephone_candidat'].errors && f['telephone_candidat'].errors['']">Le telephone  est obligatoire.</div>
                </div>
              </div>
            
            </div>
      <br>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email_candidat" class="form-control" placeholder="Email" id="email_candidat" formControlName="email_candidat" name="email_candidat">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Adresse</label>
          <input type="text" class="form-control" placeholder="grand yoff" id="adresse_candidat" 
            formControlName="adresse_candidat" name="adresse_candidat" >
            <div *ngIf="f['adresse_candidat'].touched && f['adresse_candidat'].invalid" class="alert alert-danger">
              <div *ngIf="f['adresse_candidat'].errors && f['adresse_candidat'].errors['']">L' adresse  est obligatoire.</div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="inputCity">Taille</label>
          <input type="text" class="form-control" placeholder="1m60" id="taille"
           formControlName="taille" name="taille"
           >
            <div *ngIf="f['taille'].touched && f['taille'].invalid" class="alert alert-danger">
              <div *ngIf="f['taille'].errors && f['taille'].errors['']">La taille  est obligatoire.</div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Poids</label>
          <input type="text" class="form-control" placeholder="40" id="poids" 
          formControlName="poids" name="poids">
          <div *ngIf="f['poids'].touched && f['poids'].invalid" class="alert alert-danger">
            <div *ngIf="f['poids'].errors && f['poids'].errors['']">Le poids  est obligatoire.</div>
        </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Teint</label>
          <input type="text" class="form-control" placeholder="noir, ou marron ou clair" id="teint" 
            formControlName="teint" name="teint">
            <div *ngIf="f['teint'].touched && f['teint'].invalid" class="alert alert-danger">
              <div *ngIf="f['teint'].errors && f['teint'].errors['']">Le teint  est obligatoire.</div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Sexe</label>

          <select id="sexe"  class="form-control" formControlName="sexe" name="sexe">
            <option value="Femme">Femme</option>
            <option value="Homme">Homme</option>
          </select>
          <div *ngIf="f['sexe'].touched && f['sexe'].invalid" class="alert alert-danger">
            <div *ngIf="f['sexe'].errors && f['sexe'].errors['']">Le sexe  est obligatoire.</div>
        </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="inputCity">Date de Naissance</label>
          <input type="date"  class="form-control" id="birthday" formControlName="birthday" name="birthday">
          <div *ngIf="f['birthday'].touched && f['birthday'].invalid" class="alert alert-danger">
            <div *ngIf="f['birthday'].errors && f['birthday'].errors['']">La date de naissance est obligatoire.</div>
        </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Profession</label>
          <input type="text" class="form-control" id="profession" formControlName="profession" name="profession">
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Marié(e)?</label>
          <select id="situation_matrimoniale"  class="form-control" formControlName="situation_matrimoniale"
            name="situation_matrimoniale">
            <option value="Marié(e)">Marié(e)</option>
            <option value="Célibataire">Célibataire</option>
          </select>

        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Nombre d'Enfant</label>
          <input type="text" class="form-control" id="enfant" formControlName="enfant" name="enfant">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="form-group col-md-3">
          <label for="inputCity">Forme Visage</label>
          <input type="text" class="form-control" id="forme_visage" formControlName="forme_visage" name="forme_visage">
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Barbu</label>

          <select id="barbu"  class="form-control" formControlName="barbu" name="barbu">
            <option value="Barbu">Barbu</option>
            <option value="Pas de barbe">Pas de barbe</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Percing/ Tatouage</label>
          <input type="text" class="form-control" id="percing"
           formControlName="percing" name="percing">
        </div>
        <div class="form-group col-md-3">
          <label for="inputCity">Cicatrice/ Marques/ Tache</label>
          <input type="text" class="form-control" id="cicatrice" formControlName="cicatrice" name="cicatrice">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="inputState">Expérience dans le Cinéma</label>

          <select id="experience_cinema"  class="form-control" formControlName="experience_cinema"
            name="experience_cinema">
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Combien de film</label>
          <input type="number" class="form-control" id="combien_de_film" formControlName="combien_de_film"
            name="combien_de_film">
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Expérience dans le théatre</label>

          <select id="experience_theatre"  class="form-control" formControlName="experience_theatre"
            name="experience_theatre">
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Combien d'année</label>
          <input type="text" class="form-control" id="combien_annee_theatre" formControlName="combien_annee_theatre"
            name="combien_annee_theatre">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="inputState">Role Interdit</label>
          <input type="text" class="form-control" id="role_interdit" formControlName="role_interdit"
            name="role_interdit">
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Role Souhaite</label>
          <input type="text" class="form-control" id="role_souhaite" formControlName="role_souhaite"
            name="role_souhaite">
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Nudité</label>

          <select id="nudite"  class="form-control" formControlName="nudite" name="nudite">
            <option value="accepte d'etre nu">Oui</option>
            <option value="n'accepte pas d'etre nu">Non</option>
          </select>

        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Figurant</label>

          <select id="figurant"  class="form-control" formControlName="figurant" name="figurant">
            <option value="accepte d'etre figurant">Oui</option>
            <option value="n'accepte pas d'etre  figurant">Non</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="inputState">Accepte d'etre embrassé?</label>

          <select id="baiser"  class="form-control" formControlName="baiser" name="baiser">
            <option value="accepte d'etre embrasser">Oui</option>
            <option value="n'accepte pas d'etre embrasser">Non</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Déja travaillé avec Envole?</label>

          <select id="selection_envole"  class="form-control" formControlName="selection_envole"
            name="selection_envole">
            <option value="Déja travaillé avec Envole">Oui</option>
            <option value="Pas travaillé avec Envole">Non</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Quel Film</label>
          <input type="text" class="form-control" id="quel_cinema" formControlName="quel_cinema" name="quel_cinema">
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Appréciation</label>

          <select id="appreciation"  class="form-control" formControlName="appreciation" name="appreciation">
            <option value="Pas d'Expérience">Pas d'Expérience</option>
            <option value="Débutant(e)">Débutant(e)</option>
            <option value="Expérienté(e)">Expérienté(e)</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Langues Parlées</label>
          <input type="text" class="form-control" placeholder="francais, anglais, wolof" id="langues_parlees"
            formControlName="langues_parlees"
             name="langues_parlees">
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Signes Particuliers</label>
          <input type="text" class="form-control"  placeholder="Gros ventres, apotchou, taille fine"
            id="signe_particulier" 
            formControlName="signe_particulier"
             name="signe_particulier">
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Photo1</label>

          <!-- <input type="file" (change)="onFileChange($event)" > 
          <div *ngIf="f['photo1'].touched && f['photo1'].invalid" class="alert alert-danger">
            <div *ngIf="f['photo1'].errors && f['photo1'].errors['']">Le photo1  est obligatoire.</div>
        </div>-->
          
        </div>
      </div>
       <div class="form-group">
        <label for="file">File</label>
        <input 
        formControlName="filename"
            id="filename" 
            type="file"
            name="filename"
            multiple
            class="form-control"
            (change)="onFileChange($event)">
        
    </div> 
      <br>
      <!-- <div class="row">
      
      <div class="form-group col-md-3">
        <label for="inputState">Tatouage</label>
        <input type="text" class="form-control" id="tatouage"
        
        [(ngModel)]="candidat.tatouage"
        name="tatouage">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Tache de Naissance</label>
        <input type="text" class="form-control" id="tache_naissance"
        
        [(ngModel)]="candidat.tache_naissance"
        name="tache_naissance">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Couleur Yeux</label>
        <input type="text" class="form-control" id="couleur_yeux"
        
        [(ngModel)]="candidat.couleur_yeux"
        name="couleur_yeux">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Lentille</label>
        <input type="text" class="form-control" id="lentille_yeux"
        
        [(ngModel)]="candidat.lentille_yeux"
        name="lentille_yeux">
      </div>
    </div> 
    
    <br>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="inputCity">Couleur Cheveux</label>
        <input type="text" class="form-control" id="couleur_cheveux"
        
        [(ngModel)]="candidat.couleur_cheveux"
        name="couleur_cheveux">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Texture Cheveux</label>
        <input type="text" class="form-control" id="texture_cheveux"
        
        [(ngModel)]="candidat.texture_cheveux"
        name="texture_cheveux">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Longueur Cheveux</label>
        <input type="text" class="form-control" id="longueur_cheveux"
        
        [(ngModel)]="candidat.longueur_cheveux"
        name="longueur_cheveux">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Teinture Cheveux</label>
        <input type="text" class="form-control" id="teinture_cheveux"
        
        [(ngModel)]="candidat.teinture_cheveux"
        name="teinture_cheveux">
      </div>
    </div>
    <br>-->
      <button class="btn btn-primary" type="submit" >Enregistrer</button>
      </form>
      </section>
    </div>