<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <div class="col-md-4">
      <a class="navbar-brand" href="#">Tableau de bord</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-8">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Candidat
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" routerLink="/candidat/liste">Liste</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/candidat/ajout">Ajouter</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Personnel
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" routerLink="/personel/liste">Liste</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/personel/ajout">Ajouter</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Colaborateur
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/colaborateur/liste">Liste</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/colaborateur/ajout">Ajouter</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Casting
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/casting/liste">Liste</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/casting/ajout">Ajouter</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fournisseur
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/fournisseur/liste">Liste</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fournisseur/ajout">Ajouter</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
    </div>
  </nav>

  <div style="margin: 50px;"></div>

  <!-- la page -->


 
  <form class="container" *ngIf="!submitted"> 
    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputCity">Nom</label>
        <input type="text" class="form-control"  id="nom"
        required
        [(ngModel)]="candidat.nom"
        name="nom">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Prénom</label>
        <input type="text" class="form-control" id="prenom"
        required
        [(ngModel)]="candidat.prenom"
        name="prenom">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Téléphone</label>
        <input type="text" class="form-control" id="telephone"
        required
        [(ngModel)]="candidat.telephone"
        name="telephone">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control"  placeholder="Email" id="email"
        
        [(ngModel)]="candidat.email"
        name="email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Adresse</label>
        <input type="text" class="form-control" placeholder="grand yoff" id="adresse"
        required
        [(ngModel)]="candidat.adresse"
        name="adresse">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="inputCity">Taille</label>
        <input type="text" class="form-control"  placeholder="1m60" id="taille"
        
        [(ngModel)]="candidat.taille"
        name="taille">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Poids</label>
        <input type="text" class="form-control" placeholder="40" id="poids"
        
        [(ngModel)]="candidat.poids"
        name="poids">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Teint</label>
        <input type="text" class="form-control"  placeholder="noir, ou marron ou clair" id="teint"
        required
        [(ngModel)]="candidat.teint"
        name="teint">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Sexe</label>
        <input type="text" class="form-control" id="sexe"
        required
        [(ngModel)]="candidat.sexe"
        name="sexe">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="inputCity">Date de Naissance</label>
        <input type="date" class="form-control" id="birthday"
        
        [(ngModel)]="candidat.birthday"
        name="birthday">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Profession</label>
        <input type="text" class="form-control" id="profession"
        
        [(ngModel)]="candidat.profession"
        name="profession">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Marié(e)?</label>
        <input type="text" class="form-control" id="situation_matrimoniale"
        
        [(ngModel)]="candidat.situation_matrimoniale"
        name="situation_matrimoniale">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Nombre d'Enfant</label>
        <input type="text" class="form-control" id="enfant"
        
        [(ngModel)]="candidat.enfant"
        name="enfant">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="inputCity">Forme Visage</label>
        <input type="text" class="form-control" id="forme_visage"
        
        [(ngModel)]="candidat.forme_visage"
        name="forme_visage">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Barbu</label>
        <input type="text" class="form-control" id="barbu"
        
        [(ngModel)]="candidat.barbu"
        name="barbu">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Percing</label>
        <input type="text" class="form-control" id="percing"
        
        [(ngModel)]="candidat.percing"
        name="percing">
      </div>
      <div class="form-group col-md-3">
        <label for="inputCity">Cicatrice</label>
        <input type="text" class="form-control" id="cicatrice"
        
        [(ngModel)]="candidat.cicatrice"
        name="cicatrice">
      </div>
    </div>
    <br>
    <div class="row">
      
      <div class="form-group col-md-3">
        <label for="inputState">Tatouage</label>
        <input type="text" class="form-control" id="tatouage"
        
        [(ngModel)]="candidat.tatouage"
        name="tatouage">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Tache de Naissance</label>
        <input type="text" class="form-control" id="tache_naissance"
        
        [(ngModel)]="candidat.tache_naissance"
        name="tache_naissance">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Couleur Yeux</label>
        <input type="text" class="form-control" id="couleur_yeux"
        
        [(ngModel)]="candidat.couleur_yeux"
        name="couleur_yeux">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Lentille</label>
        <input type="text" class="form-control" id="lentille_yeux"
        
        [(ngModel)]="candidat.lentille_yeux"
        name="lentille_yeux">
      </div>
    </div>
    
    <br>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="inputCity">Couleur Cheveux</label>
        <input type="text" class="form-control" id="couleur_cheveux"
        
        [(ngModel)]="candidat.couleur_cheveux"
        name="couleur_cheveux">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Texture Cheveux</label>
        <input type="text" class="form-control" id="texture_cheveux"
        
        [(ngModel)]="candidat.texture_cheveux"
        name="texture_cheveux">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Longueur Cheveux</label>
        <input type="text" class="form-control" id="longueur_cheveux"
        
        [(ngModel)]="candidat.longueur_cheveux"
        name="longueur_cheveux">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Teinture Cheveux</label>
        <input type="text" class="form-control" id="teinture_cheveux"
        
        [(ngModel)]="candidat.teinture_cheveux"
        name="teinture_cheveux">
      </div>
    </div>
    <br>
    <div class="row">
      
      <div class="form-group col-md-3">
        <label for="inputState">Expérience dans le Cinéma</label>
        <input type="text" class="form-control" id="experience_cinema"
        
        [(ngModel)]="candidat.experience_cinema"
        name="experience_cinema">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Combien de film</label>
        <input type="text" class="form-control" id="combien_de_film"
        
        [(ngModel)]="candidat.combien_de_film"
        name="combien_de_film">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Expérience dans le théatre</label>
        <input type="text" class="form-control" id="experience_theatre"
        
        [(ngModel)]="candidat.experience_theatre"
        name="experience_theatre">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Combien d'année</label>
        <input type="text" class="form-control" id="combien_annee_theatre"
        
        [(ngModel)]="candidat.combien_annee_theatre"
        name="combien_annee_theatre">
      </div>
    </div>
    <br>
    <div class="row"> 
      <div class="form-group col-md-3">
        <label for="inputState">Role Interdit</label>
        <input type="text" class="form-control" id="role_interdit"
        
        [(ngModel)]="candidat.role_interdit"
        name="role_interdit">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Role Souhaite</label>
        <input type="text" class="form-control" id="role_souhaite"
        
        [(ngModel)]="candidat.role_souhaite"
        name="role_souhaite">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Nudité</label>
        <input type="text" class="form-control" id="nudite"
        
        [(ngModel)]="candidat.nudite"
        name="nudite">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Figurant</label>
        <input type="text" class="form-control" id="figurant"
        
        [(ngModel)]="candidat.figurant"
        name="figurant">
      </div>
    </div>
    <br>
    <div class="row"> 
      <div class="form-group col-md-3">
        <label for="inputState">Accepte d'etre embrassé?</label>
        <input type="text" class="form-control" id="baiser"
        
        [(ngModel)]="candidat.baiser"
        name="baiser">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Déja travaillé avec Envole?</label>
        <input type="text" class="form-control" id="selection_envole"
        
        [(ngModel)]="candidat.selection_envole"
        name="selection_envole">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Quel Film</label>
        <input type="text" class="form-control" id="quel_cinema"
        
        [(ngModel)]="candidat.quel_cinema"
        name="quel_cinema">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Appréciation</label>
        <input type="text" class="form-control" id="appreciation"
        
        [(ngModel)]="candidat.appreciation"
        name="appreciation">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Langues Parlées</label>
        <input type="text" class="form-control" placeholder="francais, anglais, wolof" id="langues_parlees"
        
        [(ngModel)]="candidat.langues_parlees"
        name="langues_parlees">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Signes Particuliers</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Gros ventres, apotchou, taille fine" id="signe_particulier"
        
        [(ngModel)]="candidat.signe_particulier"
        name="signe_particulier">
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button (click)="saveCandidat()" type="submit" class="btn btn-primary">Enregister</button>
    <div *ngIf="submitted">
      <h4>Candidat was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCandidat()">Add</button>
    </div>
  </form>
