<div id="wrapper">
    <!-- Sidebar -->
 <app-template></app-template>
 <!-- End of Sidebar -->
 
 <!-- Content Wrapper -->
 <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
   <div id="content">
       <!-- Topbar -->
 <app-navbar></app-navbar>
   <!-- End of Topbar -->
 <router-outlet></router-outlet>

            <!-- Begin Page Content -->
            <div class="container-fluid">

<section class="container">

    <div class="d-flex justify-content-between">
        <h4>Ajout des Candidats au Casting</h4>
        <a routerLink="/casting/listecandidat" class="btn btn-dark">Détais du Casting</a>

    </div>

    <br>
    <form class="container" *ngIf="!submitted">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="inputZip">Nom du Casting  </label>
                <select id="namecasting" required class="form-control" 
                name="namecasting" [(ngModel)]="currentCasting.namecasting">
                    <option *ngFor="let casting of currentCastings" 
                      value="{{ casting.namecasting }}">
                      {{ casting.namecasting }}
                    </option>
             
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="inputZip">N° du Candidat</label>
                <select id="telephone_candidat" required class="form-control" 
                    name="telephone_candidat" [(ngModel)]="candidat.telephone_candidat">
                    <option *ngFor="let candidat of candidats" 
                     value="{{ candidat.telephone_candidat }}">
                     {{ candidat.id }}
                     

                    </option>
              
                </select>
            </div>


        </div>
        <button (click)="saveAlloue()" type="submit" class="btn btn-primary">Enregister</button>
        <div *ngIf="submitted">
            <h4>Candidat was submitted successfully!</h4>
        </div>
    </form>
</section>