<div id="wrapper">
    <!-- Sidebar -->
 <app-template></app-template>
 <!-- End of Sidebar -->
 
 <!-- Content Wrapper -->
 <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
   <div id="content">
       <!-- Topbar -->
 <app-navbar></app-navbar>
   <!-- End of Topbar -->
 <router-outlet></router-outlet>

            <!-- Begin Page Content -->
                <!-- la page -->
                <div class="container-fluid">
                <section class="container">
                    <div class="d-flex justify-content-between">
                        <h4>Ajouter un Casting </h4>
                         <a routerLink="/casting/liste" class="btn btn-success">Liste des Castings </a> 

                    </div>
                    <br>

                    <form [formGroup]="form" (ngSubmit)="submit()" id="msformttt">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputZip">Date du Casting</label>
                            <input type="date" class="form-control" id="datecasting" required
                                formControlName="datecasting" 
                                name="datecasting">
                                <div *ngIf="f['datecasting'].touched && f['datecasting'].invalid" class="alert alert-danger">
                                    <div *ngIf="f['datecasting'].errors && f['datecasting'].errors['required']">La date du casting est obligatoire.</div>
                                </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputZip">Nom du Casting</label>
                            <input type="text" class="form-control" 
                            id="namecasting" required
                                formControlName="namecasting" 
                                name="namecasting">
                                <div *ngIf="f['namecasting'].touched && f['namecasting'].invalid" class="alert alert-danger">
                                    <div *ngIf="f['namecasting'].errors && f['namecasting'].errors['required']">Le nom du casting est obligatoire.</div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="inputZip">Description du Casting</label>
                            <textarea  type="text" class="form-control" id="descriptioncasting" required
                                formControlName="descriptioncasting" name="descriptioncasting">
                            </textarea>
                            <div *ngIf="f['descriptioncasting'].touched && f['descriptioncasting'].invalid" class="alert alert-danger">
                                <div *ngIf="f['descriptioncasting'].errors && f['descriptioncasting'].errors['required']">La description du casting est obligatoire.</div>
                            </div>
                        </div>
                        
                    </div> 
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enregister</button>



                    </form>
                </section>
            </div> 