
<div id="wrapper">
    <!-- Sidebar -->
 <app-template></app-template>
 <!-- End of Sidebar -->
 
 <!-- Content Wrapper -->
 <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
   <div id="content">
       <!-- Topbar -->
 <app-navbar></app-navbar>
   <!-- End of Topbar -->
 <router-outlet></router-outlet>

            <!-- Begin Page Content -->
            <div class="container-fluid">
  <section class="container">
  <div class="d-flex justify-content-between">
    <h4>Ajouter un Personnel</h4>
    <a routerLink="/personel/liste" class="btn btn-dark">Liste du Personnel</a>
  </div>
  <br>
  <form class="container" [formGroup]="myForm" (ngSubmit)="submit()"> 
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputCity">Nom Complet</label>
        <input type="text" class="form-control"  id="name"
        required
        formControlName="name"
        name="name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Téléphone</label>
        <input type="text" class="form-control" id="telephone"
        
        formControlName="telephone"
        name="telephone">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputZip">Email</label>
        <input type="email" class="form-control" id="email"
        required
        formControlName="email"
        name="email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Metier</label>
      
        <select id="metier" required class="form-control" formControlName="metier" name="metier">
            <option value="Preneur de son">Preneur de son</option>
            <option value="Caméraman">Caméraman</option>
            <option value="Réalisateur">Réalisateur</option>
            <option value="Producteur">Producteur</option>

          </select>
      </div>
    </div>
    <br>
    <!-- <div class="row">
     
      <div class="form-group col-md-6">
        <label for="inputZip">Avatar</label>
        <input type="file" (change)="onFileChange($event)" class="form-control" id="avatar"
        
        name="avatar">
      </div>
    </div> 
      <br>
-->
    
   
    <button  type="submit" class="btn btn-primary">Enregister</button>
    
  </form>
</section>