<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <div class="col-md-4">
      <a class="navbar-brand" href="#">Tableau de bord</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-8">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Candidat
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" routerLink="/candidat/liste">Liste</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/candidat/ajout">Ajouter</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Personnel
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" routerLink="/personel/liste">Liste</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/personel/ajout">Ajouter</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Colaborateur
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/colaborateur/liste">Liste</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/colaborateur/ajout">Ajouter</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Casting
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/casting/liste">Liste</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/casting/ajout">Ajouter</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
    </div>
  </nav>

  <div style="margin: 50px;"></div>

  <!-- la page -->


  <div *ngIf="viewMode; else editable">
    <div *ngIf="currentCandidat.id">
      <h4>Modifier le Candidat</h4>
      <div>
        <div><img src="{{imageDirectoryPath}}{{currentCandidat.photo1 }}" width="100px"></div>
        <label><strong>Prénom:</strong></label> {{ currentCandidat.prenom }}
      </div>
      <div>
        <label><strong>Nom:</strong></label>
        {{ currentCandidat.nom }}
      </div>
      <a
        class="badge badge-warning"
        routerLink="/candidats/{{ currentCandidat.id }}"
      >
        Edit
      </a>
    </div>
    <div *ngIf="!currentCandidat">
        <br />
        <p>Please click on a Candidat...</p>
      </div>
    </div>
    
    <ng-template #editable>
      <div *ngIf="currentCandidat.id" class="edit-form">
        <h4>Modifier le  Candidat</h4>
        <form>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input
              type="text"
              class="form-control"
              id="prenom"
              [(ngModel)]="currentCandidat.prenom"
              name="prenom"
            />
          </div>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input
          type="text"
          class="form-control"
          id="nom"
          [(ngModel)]="currentCandidat.nom"
          name="nom"
        />
      </div>

     
    </form>

  



    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateCandidat()"
    >
      Modifier
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentCandidat.id">
    <br />
    <p>Ne peut pas acceder à ce Candidat...</p>
  </div>
</ng-template>