section {
    background: white;
    border: 0 none;
    border-radius: 0px;
     box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); 
     padding: 20px 30px;
    box-sizing: border-box;
    width: 95%;
    /* margin: 0 10%;  */

    /*stacking fieldsets above each other*/
    position: relative;
    font-family: montserrat;
    font-size: 14px;
}