<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
<app-template></app-template>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
   <!-- Main Content -->
  <div id="content">
      <!-- Topbar -->
<app-navbar></app-navbar>
  <!-- End of Topbar -->
<router-outlet></router-outlet>
  
  
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
  
          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                              class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                  </div> -->
          <!-- la page -->
          <section>
<div class="row"> 
    <div class="col-md-12 col-md-offset-3">
        <form [formGroup]="personalDetails" id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
               <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Personal Details</li>
                <li [ngClass]="step>=2 ? 'active' : 'inactive'">Social Profiles</li>
                <li [ngClass]="step==3 ? 'active' : 'inactive'">Account Setup</li> 
                
            </ul>
            <!-- fieldsets -->
            <fieldset  *ngIf="step == 1" >
                <h2 class="fs-title">Information Personelle </h2>
                <div class="row">
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Nom<span>*</span> </label>

                      <input type="text" class="form-control" placeholder="Doe" id="nom" required
                      formControlName="nom" name="nom"
                      [ngClass]="{ 'is-invalid': personal_step && personal}">
                      <div *ngIf="personal['nom'].touched && personal['nom'].invalid" class="alert alert-danger">
                        <div *ngIf="personal['nom'].errors && personal['nom'].errors['required']" class="alertmoonawa">Le nom est obligatoire.</div>
                    </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Prénom<span>*</span></label>
                      <input type="text" class="form-control" placeholder="John" id="prenom" required
                        formControlName="prenom" name="prenom"
                        >
                        <div *ngIf="personal['prenom'].touched && personal['prenom'].invalid" class="alert alert-danger">
                          <div *ngIf="personal['prenom'].errors && personal['prenom'].errors['required']" class="alertmoonawa">Le prenom est obligatoire.</div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Téléphone<span>*</span></label>
                      <input type="text" class="form-control" placeholder="000000000000" id="telephone_candidat"
                        formControlName="telephone_candidat" name="telephone_candidat"
                        required>
                        <div *ngIf="personal['telephone_candidat'].touched && personal['telephone_candidat'].invalid" class="alert alert-danger">
                          <div *ngIf="personal['telephone_candidat'].errors && personal['telephone_candidat'].errors['required']" class="alertmoonawa">Le telephone est obligatoire.</div>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" placeholder="example@exemple.com" id="email_candidat"
                      formControlName="email_candidat" name="email_candidat"
                      >
                </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Sexe<span>*</span></label>
                        <select id="sexe" required class="form-control" formControlName="sexe" name="sexe">
                            <option value="Femme">Femme</option>
                            <option value="Homme">Homme</option>
                          </select>
                          <div *ngIf="personal['sexe'].touched && personal['sexe'].invalid" class="alert alert-danger">
                            <div *ngIf="personal['sexe'].errors && personal['sexe'].errors['required']" class="alertmoonawa">Le sexe est obligatoire.</div>
                        </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Date de Naissance<span>*</span></label>
                    <input type="date" class="form-control"  id="birthday"
                      formControlName="birthday" name="birthday"
                      required >
                      <div *ngIf="personal['birthday'].touched && personal['birthday'].invalid" class="alert alert-danger">
                        <div *ngIf="personal['birthday'].errors && personal['birthday'].errors['required']" class="alertmoonawa">La date de naissance est obligatoire.</div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Marié(e)</label>
                      <select id="situation_matrimoniale"  class="form-control" formControlName="situation_matrimoniale"
            name="situation_matrimoniale">
            <option value="Marié(e)">Marié(e)</option>
            <option value="Célibataire">Célibataire</option>
          </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre d'Enfants</label>
                    <input type="number" class="form-control"  id="enfant"
                      formControlName="enfant" name="enfant"
                      >
                </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">Adressse<span>*</span></label>
                      <input type="text" class="form-control" placeholder="Abidian" 
                      id="adresse_candidat" required
                        formControlName="adresse_candidat" name="adresse_candidat"
                        >
                        <div *ngIf="personal['adresse_candidat'].touched && personal['adresse_candidat'].invalid" class="alert alert-danger">
                          <div *ngIf="personal['adresse_candidat'].errors && personal['adresse_candidat'].errors['required']" class="alertmoonawa">L' adresse est obligatoire.</div>
                      </div>
                  </div>
                
                </div>
               <!-- <input type="text" formControlName="name"  [ngClass]="{ 'is-invalid': personal_step && personal }" placeholder="Full Name"/> 
               
                <input type="text" formControlName="email" name="email" placeholder="Email"/>
              
                <input type="text" formControlName="phone" name="phone" placeholder="Phone"/>
                -->

                <input (click)="next()" type="button" name="next" class="next action-button" value="Suivant"/>
            </fieldset>
        </form>
         <form [formGroup]="addressDetails" id="msform">
            <fieldset *ngIf="step == 2" >
                <h2 class="fs-title">Information sur le physique</h2>
                <div class="row">
                    <div class="form-group col-md-3">
                      <label for="inputEmail4">Taille</label>
                      <input type="text" class="form-control" placeholder="1m60" id="taille"
           formControlName="taille" name="taille" 
           >
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputPassword4">Poids</label>
                      <input type="number" class="form-control" 
                      placeholder="40" id="poids" 
          formControlName="poids" name="poids" >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Teint</label>
                        <input type="text" class="form-control" 
                        placeholder="noir, ou marron ou clair" 
                        id="teint" 
            formControlName="teint" name="teint">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputPassword4">Barbu</label>
                        <select id="barbu"  class="form-control" formControlName="barbu" name="barbu">
                            <option value="Barbu">Barbu</option>
                            <option value="Pas de barbe">Pas de barbe</option>
                          </select>
                      </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Profession</label>
                      <input type="text" class="form-control"
                       id="profession" formControlName="profession" 
                       name="profession" required
                       [ngClass]="{ 'is-invalid': address_step && address}">
                       <div *ngIf="address['profession'].touched && address['profession'].invalid" class="alert alert-danger">
                        <div *ngIf="address['profession'].errors && address['profession'].errors['required']" class="alertmoonawa">La profession est obligatoire.</div>
                    </div>

                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputPassword4">Signes Particuliers</label>
                      <input type="text" class="form-control" 
                       placeholder="Gros ventres, apotchou, taille fine"
            id="signe_particulier" 
            formControlName="signe_particulier"
             name="signe_particulier">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Langues Parlées</label>
                        <input type="text" class="form-control" 
                        placeholder="francais, anglais, wolof" 
                        id="langues_parlees"
            formControlName="langues_parlees"
             name="langues_parlees">
                      </div>
                      
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Forme Visage</label>
                    <input type="text" class="form-control"
                     id="forme_visage" formControlName="forme_visage" 
                     name="forme_visage" placeholder="rond, plate">

                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4">Cicatrices/ Marques</label>
                    <input type="text" class="form-control" 
                     
          id="cicatrice" 
          formControlName="cicatrice"
           name="cicatrice">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputEmail4">Percing ou Tatouages</label>
                      <input type="text" class="form-control" 
                      
                      id="percing"
          formControlName="percing"
           name="percing">
                    </div>
                    
              </div>
                <!-- <input type="text" formControlName="city"  placeholder="City"/>
                
                <textarea rows="5" cols="5" formControlName="address"  placeholder="address"></textarea>
               
                <input type="text" formControlName="pincode"  placeholder="Pincode"/> -->
                <!-- <div *ngIf="address_step && addressDetails.controls.pincode.errors">
                    <div *ngIf="address.pincode.errors?.required">Pincode is required</div>
                </div> -->
                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Précédent"/>
                <input  (click)="next()" type="button" name="next" class="next action-button" value="Suivant"/>
            </fieldset>
        </form>
         <form [formGroup]="educationalDetails" id="msform" (ngSubmit)="submit()">
            <fieldset *ngIf="step == 3">
                <h2 class="fs-title">Informations Professionnelles</h2>
                <div class="row">
                    <div class="form-group col-md-3">
                      <label for="inputEmail4">Déja travaillé avec Envole?</label>
                      <select id="selection_envole"  class="form-control"
                       formControlName="selection_envole"
            name="selection_envole">
            <option value="Déja travaillé avec Envole">Oui</option>
            <option value="Pas travaillé avec Envole">Non</option>
          </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputPassword4">Dans quel spot?</label>
                      <input type="text" class="form-control" 
                      id="quel_cinema" formControlName="quel_cinema" 
                      name="quel_cinema">

                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Déja participé à une  publicité?</label>
                        <select id="campagne_publicitaire" 
                         class="form-control" 
                         formControlName="campagne_publicitaire"
            name="campagne_publicitaire">
            <option value="Déja participé à une campagne publicitaire">Oui</option>
            <option value="Jamais participé à une campagne publicitaire">Non</option>
          </select>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputPassword4">Nom campagne publicitaire</label>
                        <input type="text" class="form-control" id="nom_campagne_publicitaire" formControlName="nom_campagne_publicitaire" name="nom_campagne_publicitaire">

                      </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Expérience dans le théatre?</label>
                    <select id="experience_theatre"  class="form-control" formControlName="experience_theatre"
          name="experience_theatre">
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4">Combien d'année dans le théatre?</label>
                    <input type="number" class="form-control"
                     id="combien_annee_theatre"
                      formControlName="combien_annee_theatre" 
                      name="combien_annee_theatre">

                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputEmail4">Les Théatres</label>
                      
                        <input type="text" class="form-control"
                     id="les_theatres"
                      formControlName="les_theatres" name="les_theatres">

                    </div>
                 
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Expérience dans le Cinéma?</label>
                  <select id="experience_cinema"  class="form-control" formControlName="experience_cinema"
        name="experience_cinema">
        <option value="1">Oui</option>
        <option value="0">Non</option>
      </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Combien de Cinéma?</label>
                  <input type="number" class="form-control"
                   id="combien_de_film"
                    formControlName="combien_de_film" name="combien_de_film">

                </div>
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Les films</label>
                    <input type="text" class="form-control"
                    id="les_films"
                     formControlName="les_films" name="les_films">

                  </div>
               
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Accepte d'etre Figurant?</label>
               
                 <select id="figurant"  class="form-control"
                  formControlName="figurant"
                  name="figurant">
        <option value="Accepte d'etre figurant">Oui</option>
        <option value="N'accepte pas d'etre figurant">Non</option>
      </select>

              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4">Accepte d'etre Embrassé?</label>
                <select id="baiser"  class="form-control"
                  formControlName="baiser"
                  name="baiser">
        <option value="Accepte d'etre embrassé">Oui</option>
        <option value="N'accepte pas etre embrassé">Non</option>
      </select>
              </div>
              <div class="form-group col-md-4">
                  <label for="inputEmail4">Accepte d'etre Nu?</label>
                  <select id="nudite"  class="form-control"
                  formControlName="nudite"
                  name="nudite">
        <option value="Accepte d'etre nu">Oui</option>
        <option value="N'accepte pas d'etre nu">Non</option>
      </select>
                </div>
             
          </div>
                <div class="row">
                    <div class="form-group col-md-3">
                      <label for="inputEmail4">As un role souhaite?</label>
                      <select id="role_souhaite"  class="form-control" formControlName="role_souhaite"
            name="role_souhaite">
            <option value="As un role Souhaité ">Oui</option>
            <option value="N'as pas de role souhaité">Non</option>
          </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputPassword4">Lequel ?</label>
                      <input type="text" class="form-control" id="lequel_role_souhaite" formControlName="lequel_role_souhaite" name="lequel_role_souhaite">

                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">As un role interdit?</label>
                        <select id="role_interdit"  class="form-control" formControlName="role_interdit"
            name="role_interdit">
            <option value="a un role interdit">Oui</option>
            <option value="N'as pas de role interdit">Non</option>
          </select>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputPassword4">Lequel? </label>
                        <input type="text" class="form-control" id="lequel_role_interdit" formControlName="lequel_role_interdit" name="lequel_role_interdit">

                      </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Pourquoi Cinéma?</label>
                   
                     <select id="pourquoi_cinema"  class="form-control"
                      formControlName="pourquoi_cinema"
                      name="pourquoi_cinema">
            <option value="Passion">Passion</option>
            <option value="Argent">Argent</option>
            <option value="Célébrité">Célébrité</option>
          </select>
    
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4">Appreciation</label>
                    <select id="appreciation"  class="form-control"
                      formControlName="appreciation"
                      name="appreciation">
            <option value="Pas d'expérience">Pas d'expérience</option>
            <option value="Débutant(e)">Débutant(e)</option>
            <option value="Expérimenté(e)">Expérimenté(e)</option>

          </select>
                  </div>
                <div class="form-group col-md-4">
                      <!-- <input type="file" (change)="onFileChange($event)" required> -->
                      <input 
                      formControlName="filename"
                          id="filename" 
                          type="file"
                          name="filename"
                          multiple
                          class="form-control"
                          (change)="onFileChange($event)"
                          required
                          [ngClass]="{'is-invalid': submitted && education['filename'].errors }" >
                         
                        <div *ngIf="submitted && education['filename'].errors" class="alert alert-danger">
                          <div *ngIf="education['filename'].errors['required']">Le(s) photo(s) est(sont) obligatoire(s).</div>
                       </div>
                      
                    </div>
                 
              </div>
                <!-- <input type="text" formControlName="highest_qualification" placeholder="Highest Qualification"/> -->
                <!-- <div *ngIf="education_step && educationalDetails.controls.highest_qualification.errors">
                    <div *ngIf="education.highest_qualification.errors?.required">Highest qualification is required</div> 
                </div>-->
                <!-- <input type="text" formControlName="university"  placeholder="University"/> -->
                <!--<div *ngIf="education_step && educationalDetails.controls.university.errors">
                     <div *ngIf="education.university.errors?.required">University is required</div> 
                </div>-->
                <!-- <input type="text" formControlName="total_marks" placeholder="Total Marks"/> -->
                <!-- <div *ngIf="education_step && educationalDetails.controls.total_marks.errors">
                    <div *ngIf="education.total_marks.errors?.required">Total marks is required</div>
                </div> -->
                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Précédent"/>
                <button class="submit action-button" type="submit" >Enregistrer</button>

                <!-- <input (click)="submit()"type="submit" name="submit" class="submit action-button" value="Ajouter"/> -->
            </fieldset>
        </form>
    </div>
</div>
</section>
</div>